<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company wants to create an exclusive community
    where developers and entrepeneurs can meet and create amazing things together.
    </p>
</div>